/***************************************/
#main-image {
  width: 100%;
  margin-bottom: -5px;
}

@font-face {
  font-family: "BodonyMT";
  src: url("fonts/bodony_mt.otf");
}

@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/century_gothic.otf");
}

#nav-logo-link {
  margin-right: auto;
  padding: 0.75rem;
}

#nav-logo {
  height: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* aligns links vertically */
  background-color: #073232;
}

nav {
  text-align: justify;
}

nav a {
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  border-bottom: 0.1rem solid #fff0;
}

nav a:hover {
  border-bottom: 0.1rem solid #fef6eb;
}

.headshots-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

@media (max-width: 1000px) {
  .headshots-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

.headshot {
  height: 7rem;
}

.primary_red {
  color: #f1592a;
}

.primaty_light_blue {
  color: #9dd9de;
}

.primary_dark_blue {
  color: #166665;
}

.primary_white {
  color: #fef6eb;
}

.secondary_orange {
  color: #ff884d;
}

.secondary_blue {
  color: #43a3a2;
}

.secondary_dark_blue {
  color: #307776;
}

.secondary_deep_blue {
  color: #073232;
}

.tertiary_deep_blue {
  color: #052626;
}

.planning {
  text-align: center;
}

.planning-icon {
  height: 3rem;
}

.plan {
  width: 100%;
}

/***************************************/
.card-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 300px;
}

.card {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  text-align: center;
}

.card p {
  font-style: italic;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.left-card {
  display: block;
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.left-card p {
  display: none;
}

.right-card {
  display: block;
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.right-card p {
  display: none;
}

.middle-card {
  display: block;
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.middle-card img, {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.middle-card p {
  display: block;
}

.hidden-card {
  display: none;
}

.hidden-card p {
  display: none;
}
/*************************************************/

@charset "UTF-8";
:root {
  --width: 100vw;
  --full-width: 100vw;
  --angle: -5deg;
  /*-----------------
  Magic Number Alert:

  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.043744331765;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}
@media (min-width: 52em) {
  :root {
    --width: 52rem;
  }
}

.diagonal-box {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
}
.diagonal-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(var(--angle));
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.bg-zero {
  background-image: url("../assets/fonds/reflet.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
}

.bg-one:before {
  background-image: linear-gradient(45deg, #ff884d, #f1592a);
}

.bg-two:before {
  background-image: linear-gradient(-135deg, #9dd9de, #166665);
}

.bg-three:before {
  background-image: linear-gradient(-135deg, #073232, #052626);
}

.content {
  max-width: var(--width);
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
}

/* --------------------
Clip Path Update
-------------------- */
.clip-path {
  position: relative;
  margin-top: calc( ( var(--clip-padding) * -1 ) - 2px );
  background-size: 0.5em 0.5em, 100% 100%;
  padding: calc( ( var(--clip-padding) * 2 ) - ( var(--clip-padding) - var(--skew-padding) ) ) 0 4em;
  clip-path: polygon(0% calc(var(--clip-padding) * 2), 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% calc(var(--clip-padding) * 2), 100% 0%, 100% 100%, 0% 100%);
}

/* --------------------
Presentational Styles
-------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  transition: font-size 0.2s linear;
}
@media (min-width: 70em) {
  html {
    font-size: 125%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.9),
  only screen and (min-device-pixel-ratio: 1.9),
	only screen and (-o-min-device-pixel-ratio: 19/10),
	only screen and (min-resolution: 190dpi) {
	html {
    font-size: 200%;
  }
}
/* @media (max-width: 450px) {
  html {
    font-size: 200%;
  }
} */


body {
  background: #073232;
  color: #fef6eb;
  font-family: "BodonyMT", serif;
}

h1 {
  text-align: center;
  margin: 0 auto 1em;
  padding: 0 1em;
  max-width: 42rem;
  line-height: 1.2;
  transform: skewY(var(--angle));
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 0.5em;
  font-weight: 900;
  text-align: center;
}

h3 {
    font-size: 2em;
    margin: 0.5em 0;
    font-weight: 500;
}

h4 {
    font-size: 1.5em;
    margin: 0 0 0.5em;
    font-weight: 200;
}

hr {
  color: #fef6eb;
}

.stars {
    font-size: 1.5em;
    margin: 0.5em 0;
    font-weight: 200;
}

.skew {
  transform: skewY(var(--angle));
}

.intro {
  font-size: 1.25em;
  margin: 2rem auto;
  text-align: center;
  background: #fef6eb;
  color: #052626;
  font-weight: 900;
  padding: 0.5em;
  text-transform: uppercase;
}
.intro a {
  background-image: linear-gradient(transparent 90%, 0, #052626 100%);
  background-image: none;
  border-bottom: 4px solid;
  transition: none;
}
.intro a:hover {
  border-color: #f1592a;
  opacity: 1;
}

.order-button {
  font-size: 1.25em;
  transform: skewY(var(--angle));
  margin: 0em auto 0em;
  text-align: center;
  background: #fef6eb;
  color: #052626;
  font-weight: 900;
  padding: 0.5em;
  text-transform: uppercase;
}

li {
  font-size: 1.25em;
  margin: 0;
  line-height: 1.5;
}

p {
  font-size: 1.25em;
  margin: 0;
  line-height: 1.5;
}

blockquote {
  font-size: 1.25em;
  margin: 0.5em 0;
  line-height: 1.5;
  text-align: center;
  font-style: oblique;
}

p a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(transparent 90%, 0, #fef6eb 100%);
  padding: 0.125em 0;
  transition: opacity 0.3s ease-out;
}
p a:hover {
  text-decoration: none;
  opacity: 0.8;
}

footer {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: var(--width);
}

.socials {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 3rem;
  margin: 1rem;
}

.partners {
  text-align: center;
}

/*************************/

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  margin: 25px;
}

.exit {
  text-align: center;
}

#exit-logo {
  height: 100px;
  margin: 25px;
}
