* {
margin:0;
padding:0;
border: 0;
}

@font-face {
  font-family: "BodonyMT";
  src: url("fonts/bodony_mt.otf");
}

@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/century_gothic.otf");
}

body {
  font-family: 'CenturyGothic';
  font-weight:normal;
  font-style:normal;
  background-color: #052626;
  color: #fef6eb;
}

.primary_red {
  color: #f1592a;
}

.primaty_light_blue {
  color: #9dd9de;
}

.primary_dark_blue {
  color: #166665;
}

.primary_white {
  color: #fef6eb;
}

.secondary_orange {
  color: #ff884d;
}

.secondary_blue {
  color: #43a3a2;
}

.secondary_dark_blue {
  color: #307776;
}

.secondary_deep_blue {
  color: #073232;
}

.tertiary_deep_blue {
  color: #052626;
}

#nav-logo {
  height: 3rem;
  margin-right: auto;
  padding: 0.75rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* aligns links vertically */
  background-color: #f1592a;
}

nav a {
  margin: 1rem;
  text-decoration: none;
  color: inherit;
  font-family: BodonyMT;
}

nav a:hover {
  border-bottom: 0.1rem solid #fef6eb
}

#main-image {
  width: 100%;
}

section {
  padding: 1rem;
}
