:root {
  --width: 100vw;
  --full-width: 100vw;
  --angle: -5deg;
  /*-----------------
      Magic Number Alert:
      the 0.09719 is calculated by this formula:
      tan(11°) / 2
      11° is the current skewY value.
      ------------------*/
  --magic-number: 0.043744331765;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --background-1: #4a2a96;
  --background-2: #a587c7;
  --background-3: #0a736f;
  --background-4: #0b0d26;
}

@font-face {
  font-family: 'Open Sans';
  src: url("assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format(truetype) tech(variations), url("assets/fonts/OpenSans-VariableFont_wdth\,wght.woff2") format(woff2) tech(variations);
}

@font-face {
  font-family: 'Open Sans';
  src: url("assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format(truetype) tech(variations), url("assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.woff2") format(woff2) tech(variations);
  font-style: italic;
}

/* fonts google font et open font library */

*,
*:before,
*:after {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--background-4);
  background-image: url(assets/fonds/fond.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  margin: 0;
  color: #fef6eb;
}

h1 {
  text-shadow: 1px 1px 1px black;
  font-size: 5em;
  transform: skewy(var(--angle));
  margin: 10px;
}

h2 {
  font-size: 3em;
  margin: 0.5em 0;
}

.cal-card h3 {
  font-size: 1.75em;
  margin-top: 0;
  transform: skewy(var(--angle));
}

.cal-card h4 {
  font-size: 1.5em;
  margin: 0;
  transform: skewy(var(--angle));
}

h3 {
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
  font-weight: 200;
}

.italic {
  font-style: italic;
}

.cal-card p {
  transform: skewy(var(--angle));
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
}

#nav-logo {
  width: 5em;
  margin: 12px;
}

nav {
  display: flex;
  gap: 1vw;
  margin-top: 12px;
}

nav a,
.dropdown-content a {
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  color: #fef6eb;
  font-size: 1.25em;
  height: fit-content;
}

nav a:hover,
.dropdown-content a:hover {
  opacity: 0.8;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-dropdown {
  border: none;
  outline: none;
  background-color: inherit;
  text-shadow: 1px 1px 1px black;
  color: #fef6eb;
  font-size: 1.25em;
  font-family: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  margin-top: 1.75em;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .btn-dropdown {
  opacity: 0.8;
}

#main-image {
  width: 100%;
  filter: opacity(0);
  margin-bottom: -250px;
}

.big-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 100vw;
  max-width: 100%;
  height: fit-content;
}

.content {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
}

#title-sub {
  max-width: 60%;
}

.main-title {
  transform: translateY(-10%);
}

h3.subtitle {
  transform: skewY(var(--angle));
  text-shadow: 1px 1px 1px black;
}

.bg-two::before {
  background-image: linear-gradient(0deg, var(--background-3), var(--background-4));
}
.bg-one::before {
  background-image: linear-gradient(0deg, var(--background-1), var(--background-2));
}

.clip-path {
  position: relative;
  margin-top: calc( ( var(--clip-padding) * -1 ) - 2px );
  background-size: 0.5em 0.5em, 100% 100%;
  padding: calc( ( var(--clip-padding) * 2 ) - ( var(--clip-padding) - var(--skew-padding) ) ) 0 4em;
  clip-path: polygon(0% calc(var(--clip-padding) * 2), 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% calc(var(--clip-padding) * 2), 100% 0%, 100% 100%, 0% 100%);
}

.diag {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
}

.diag:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(var(--angle));
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.night-calendar,
.day-calendar {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  margin-top: 3em;
  flex-wrap: wrap;
}

.cal-card a {
  color: inherit;
  text-decoration: none;
}

.cal-card {
  padding: 10px;
  width: 15rem;
  transform: scale(100%);
  transition: all 200ms;
  background-size: cover;
  text-shadow: 1px 1px black;
  margin-bottom: 20px;
}

.cal-card::before {
  z-index: -1;
}

.night-calendar > .cal-card:nth-child(1)::before {
  background-image: url("./assets/backgrounds/Nuit-Rouge.jpg");
}
.night-calendar > .cal-card:nth-child(2)::before {
  background-image: url("./assets/backgrounds/Nuit-Orange.jpg");
}
.night-calendar > .cal-card:nth-child(3)::before {
  background-image: url("./assets/backgrounds/Nuit-Jaune.jpg");
}
.night-calendar > .cal-card:nth-child(4)::before {
  background-image: url("./assets/backgrounds/Nuit-Vert.jpg");
}
.night-calendar > .cal-card:nth-child(5)::before {
  background-image: url("./assets/backgrounds/Nuit-Bleu.jpg");
}
.night-calendar > .cal-card:nth-child(6)::before {
  background-image: url("./assets/backgrounds/Nuit-Violet.jpg");
}

.day-calendar > .cal-card:nth-child(1)::before {
  background-image: url("./assets/backgrounds/Jour-Rouge.jpg");
}
.day-calendar > .cal-card:nth-child(2)::before {
  background-image: url("./assets/backgrounds/Jour-Orange.jpg");
}
.day-calendar > .cal-card:nth-child(3)::before {
  background-image: url("./assets/backgrounds/Jour-Jaune.jpg");
}
.day-calendar > .cal-card:nth-child(4)::before {
  background-image: url("./assets/backgrounds/Jour-Vert.jpg");
}
.day-calendar > .cal-card:nth-child(5)::before {
  background-image: url("./assets/backgrounds/Jour-Bleu.jpg");
}
.day-calendar > .cal-card:nth-child(6)::before {
  background-image: url("./assets/backgrounds/Jour-Violet.jpg");
}

.cal-card:hover {
  transform: scale(110%);
  transition: all 200ms;
  cursor: pointer;
}

#event-map {
  width: 80%;
}

.partners {
  max-width: 100%;
}

.unsure {
  font-size: 1em;
  font-style: italic;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  margin: 25px;
}

#cfc2022 {
  height: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#cfc2022_financeurs {
  width:100%;
  margin-top: 50px;
}

#logo-volvo {
  height: 26px;
  margin: 37px;
}

.social-icon {
  height: 3rem;
  margin: 1rem;
}

a {
  text-decoration: none;
}

.content > p {
  max-width: 60%;
  text-align: center;
}

.conf-desc > p {
  max-width: initial;
  max-width: 60%;
}

.conf-photo-container {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  margin: 1.5em 0;
}

.conf-photo-container > span > p {
  max-width: 12em;
  text-align: center;
}

.conf-photo {
  width: 12em;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.conf-title {
  margin-bottom: 0;
}

.art-photo {
  width: 12em;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 1em 0;
}

.smaller-text {
  font-size: 1em;
}

li {
  margin: 0;
  text-align: left;
}

ul {
  display: inline-block;
  margin: 1em 20%;
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .content > p {
    max-width: initial;
  }

  ul {
    margin: 1em 0;
  }
}

p a, li a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(transparent 90%, 0, #fef6eb 100%);
  padding: 0.125em 0;
  transition: opacity 0.3s ease-out;
}

p a:hover {
  text-decoration: none;
  opacity: 0.8;
}

p, li {
  font-size: 1.2em;
  margin: 0.25em;
}

p.hour {
  margin: 10px 0;
  font-style: italic;
}

a.cal-link {
  all: unset;
}

/***************************************/
.card-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 300px;
}

.card {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  text-align: center;
}

.card p {
  font-style: italic;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.left-card {
  display: block;
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.left-card p {
  display: none;
}

.right-card {
  display: block;
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.right-card p {
  display: none;
}

.middle-card {
  display: block;
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.middle-card p {
  display: block;
}

.hidden-card {
  display: none;
}

.hidden-card p {
  display: none;
}
/*************************************************/

@media screen and (max-device-width: 480px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  #nav-logo {
    width: 4em;
    margin: 12px;
  }

  body {
    background-image: url(assets/fonds/fond-vertical.jpg);
    background-size: contain;
  }

  #main-image {
    /* transform: rotate(-90deg); */
    width: 100%;
    height: 100%;
    height: auto;
    /* width: auto; */
    /* filter: opacity(0); */
    margin-bottom: 50%;
  }

  .night-calendar,
  .day-calendar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  nav a,
  .dropdown-content a,
  .btn-dropdown {
    font-size: medium;
  }

  .dropdown:hover, .dropdown-content {
    background-color: #0b0d26;
  }

  .cal-card {
    width: 100%;
    aspect-ratio: 2;
  }

  .content {
    width: auto;
    overflow: hidden;
  }

  .content > p {
    max-width: none;
  }

  ul {
    margin: auto;
  }

  .card:hover {
    transform: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    align-items: center;
    margin-top: 2.5em;
    margin-left: 0;
    min-width: 100%;
  }

  .conf-photo-container {
    flex-direction: column;
    gap: initial;
  }

  #title-sub {
    max-width: 100%;
  }
}

.skew {
  transform: skewY(var(--angle));
}

.intro {
  font-size: 1.25em;
  /* margin: 2rem auto; */
  text-align: center;
  background: #fef6eb;
  color: #052626;
  font-weight: 900;
  padding: 0.5em;
  text-transform: uppercase;
  line-height: 2em;
  width: fit-content;
  height: fit-content;
}

.intro a {
  background-image: linear-gradient(transparent 90%, 0, #052626 100%);
  background-image: none;
  border-bottom: 4px solid;
  transition: none;
}
.intro a:hover {
  border-color: #f1592a;
  opacity: 1;
}

.embedded-intro {
  background: none;
  color: #fef6eb;
  width: initial;
}

.intros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 2em;
}